<div id="help-overlay">
  <div class="help-modal">
    <h2>Keyboard Shortcuts</h2>
    <table class="help-table">
      <tbody>
        <tr><td><kbd>j</kbd> / <kbd>k</kbd></td><td>Next / Previous article</td></tr>
        <tr><td><kbd>s</kbd></td><td>Save article</td></tr>
        <tr><td><kbd>a</kbd></td><td>Archive article</td></tr>
        <tr><td><kbd>u</kbd></td><td>Mark as Useful</td></tr>
        <tr><td><kbd>n</kbd></td><td>Mark as Not Relevant</td></tr>
        <tr><td><kbd>o</kbd></td><td>Open link in new tab</td></tr>
        <tr><td><kbd>c</kbd></td><td>Copy link to clipboard</td></tr>
        <tr><td><kbd>f</kbd></td><td>Focus "For Content" form</td></tr>
        <tr><td><kbd>/</kbd></td><td>Focus search box</td></tr>
        <tr><td><kbd>g</kbd> <kbd>g</kbd></td><td>Scroll to top</td></tr>
        <tr><td><kbd>?</kbd></td><td>Toggle this help menu</td></tr>
        <tr><td><kbd>Esc</kbd></td><td>Close help menu</td></tr>
      </tbody>
    </table>
    <div class="help-footer">
      Press <kbd>?</kbd> or <kbd>Esc</kbd> to close.
    </div>
  </div>
</div>
